@model IEnumerable<_01_Adivinhas.Models.Adivinhas>

@{
    ViewData["Title"] = "Adivinhas";
}

<h3>Aqui encontra todas as adivinhas </h3>
<h6>Caso saiba alguma outra, por favor adicione na nossa lista</h6>

<p>
    <a asp-action="Create">Inserir nova</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pergunta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.resposta)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.pergunta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.resposta)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new {id=item.id}, htmlAttributes: new {@class = "btn btn-primary"}) |
                    @Html.ActionLink("Detalhes", "Details", new { id=item.id}, htmlAttributes: new { @class = "btn btn-info" }) |
                    @*@Html.ActionLink("Delete", "Delete", new { / id=item.PrimaryKey / })*@
                    <button id="@item.id" class="btn btn-danger" onclick="Eliminar(this)">Eliminar</button>
                </td>
            </tr>
        }
    </tbody>
</table>
