@model ProjetoImobiliaria.Models.Imoveis

@{
    ViewData["Title"] = "Eliminar";
}

<h1>Eliminar</h1>

<h3>Tem a certeza que quer eliminar este item?</h3>
<div>
    <h4>Imóveis</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ingredientes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ingredientes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.preparacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.preparacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nivel_dificuldade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nivel_dificuldade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tempo_preparacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tempo_preparacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.imagem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.imagem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tipo_receita)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tipo_receita)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tipo_de_receita)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tipo_de_receita)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Imoveis">Voltar á lista</a>
    </form>
</div>
